@import "config";

.header {
  background-color: var(--color-grayscale-50);
  display: flex;
  align-items: center;
  gap: 9px;
  padding-inline: 10px;
  border-bottom: 1px solid var(--color-grayscale-300);

  img {
    cursor: pointer;
  }

  &__searchBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    width: 14.75rem;
    height: 48px;
    border: 2px solid var(--color-grayscale-300);
    padding-inline: 17px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: auto;

    input {
      border: none;
      width: 100%;
      height: 90%;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__notification {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-grayscale-300);
    border-radius: 50%;
    cursor: pointer;
  }

  &__userId {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-grayscale-300);
    padding: 5px 6px;
    border-radius: 25px;
    gap: 10px;
    position: relative;

    img {
      cursor: pointer;
    }

    div {
      display: flex;
      flex-direction: column;
      text-align: center;

      span:first-child {
        font-weight: bolder;
      }
    }

    &__open {
      position: absolute;
      top: max(110%, 4rem);
      right: 1px;
      min-width: 10rem;
      aspect-ratio: 3/2;
      border-radius: 10px;
      background-color: white;
      box-shadow: 1px 1px 8px 1px #000000b8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      &.open {
        display: flex;
      }

      &.closed {
        display: none;
      }
    }

  }
}

@include screen-mobile {
  .header__userId > .details {
    display: none;
  }
  .header__date > span {
    display: none;
  }
}